  <a href="/posts/{{id}}">
    <div class="my-4 b-primary rounded-4">
      <div class="bg-prmy p-1 rounded-top-3 px-2 d-flex justify-content-between">
        <h3 class="txt-drk">{{title}}</h3>
        <a href="/edit-posts/{{id}}"><button class="btn">Edit/Delete Post</button></a>
      </div>
      <div class="p-2 px-3">
        <p class="text-light">{{content}}</p>
      </div>
    </div>
  </a>