<div class="my-4 b-primary rounded-4">
  <div class="bg-prmy p-1 rounded-top-3 px-2">
    <h3 class="txt-drk">{{post.title}}</h3>
  </div>
  <div class="p-2 px-3">
    <p class="text-light">{{post.content}}</p>
  </div>

</div>